*{margin: 0;padding: 0;list-style: none;}
/*
KISSY CSS Reset
理念：1. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
2. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
3. reset 期望提供一套普适通用的基础样式。但没有银弹，推荐根据具体需求，裁剪和修改后再使用。
特色：1. 适应中文；2. 基于最新主流浏览器。
维护：玉伯<lifesinger@gmail.com>, 正淳<ragecarrier@gmail.com>
 */

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
  margin: 0;
  padding: 0;
}

/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
  font: 16px/1.5 sans-serif, tahoma, arial, \5b8b\4f53;
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  font-weight: normal;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 14px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
ul, ol { list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; }
a:hover { text-decoration: underline; }


/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }

/* 清除浮动 */
.ks-clear:after, .clear:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
.ks-clear, .clear {
  *zoom: 1;
}


header {
	background-color: #0B7CAF;
	height: 138px;
	line-height: 68px;
	padding: 0 20px;
	color: #fff;
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

header h1 {
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-weight: 700;
	border: 1px solid #ddd;
	display: inline-block;
	border-radius: 2px;
	padding: 0px 4px;
	
}

.article {
	padding: 20px;
	max-width: 1140px;
	margin: 0px auto;
	box-shadow: 0px 0px 4px #ccc;
	background: #fff;
	margin-top: 80px;
}

.article>div:not(#toolbox) {
	padding: 10px 10px;
}

hr {
	color: #dfdfdf;
}

a:hover {
    text-decoration: none;
}

ol>li {
	margin: 24px;
}

ol>li>ul {
	background-color: #504949;
	color: #fff;
	padding: 8px 16px;
}

ul.change>li {
	margin: 10px 20px;
}

ul {
	margin: 10px 0;
}

ul>li {
	margin: 10px 0;
}

.comment {
	color: #d8fa3c;
	margin-left: 16px;
	font-size: 14px;
}

.missing>s, .missing>del {
	padding: 0 4px;
}

s, del, .missing, del.comment {
	color: #F44336;
}

.missing>.comment {
	color: #F44336;
}


.header {
    display: inline-block;
}

#toolbox {
    height:38px;
    border-bottom: 1px solid #ddd;
}



.tool {
    float:right;
    text-decoration: none;
}

#main {
    height:480px;
    margin:0 auto;
    padding-top:24px;
}

button {
    padding: 4px 8px;
    margin:0 4px;
    background-color: #0B7CAF;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor:pointer;
}
.button_small {
    padding: 2px 4px;
    margin:0 4px;
    background-color: #eee;
    color: #333;
    font-weight: normal;
    border: none;
    font-size: 14px;
    cursor:pointer;
}

#cargo {
    margin: 24px 0;
    padding: 4px 0;
    border-bottom: solid 1px #ccc;
}
#cargo > div {
    display: inline-block;
    padding: 0 16px;
}

.form > div {
    padding: 8px 0px;
}
.form > div > div {
    display: inline-block;
    padding: 0 0px;
}
.form > div > div.label{
    min-width: 160px;
    text-align: right;
}
